<%= render partial: "shared/navbar" %>
<div class="container">

  <h1>Roster for <%= @team.name %></h1>


  <% @players.each_with_index do |player, x| %>
    <%= "#{x+1}: #{player.first_name} #{player.last_name} Mobile: #{player.mobile_number}" %>
    <br />
  <% end %>
  <br /><br />
  <%= link_to "Return to Dashboard", coach_dashboard_path, class: "btn btn-primary" %>
</div>
