<h1>Roster for <%= @team.name %></h1>


<% @team.players.each_with_index do |player, x| %>
  <%= "#{x+1}: #{player.first_name} #{player.last_name} Mobile: #{player.mobile_number}" %>
  <br />
<% end %>
