<div class="root">
  <div class="container">
    <div class="login-button">
      <%= link_to facebook_login_path, class: "btn btn-primary" do %>
        <i class="fa fa-facebook-official"></i>
        Click here to login to facebook
      <% end %>
  </div>
  </div>
</div>
