<div class="landing">


  <div class="container">

    <div class="login-button">

    <%= link_to "Click here to continue to TeamOrg", coach_dashboard_path, class: "btn btn-primary" %>
  </div>
  </div>

</div>
