<script>
$(document).ready(function() {
    var max_fields      = 25; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID

    var x = 1; //initial text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
          $(wrapper).append('<div class="player-' + x +'">\
First Name: <input type="text" name="player[first_name][]" /> \
Last Name: <input type="text" name="player[last_name][]" /> \
Mobile Number: <input type="text" name="player[mobile_number][]" /> \
<a href="#" class="remove_field">Remove</a></div>');
            x++; //text box increment
        }
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});

</script>

<h1>Coach's Dashboard</h1>
<br /><br />


<%= form_for @team, url: team_create_path do |f| %>
  <%= f.label "Team Name:" %>
  <%= f.text_field :name, class: "form-control" %>
  <br /><br />
  <div class="input_fields_wrap">
    <button class="add_field_button">Add player</button>
    <br />
  </div>
  <br /><br />
  <%= f.submit "Submit" %>

<% end %>
