<%= render partial: "shared/navbar" %>
<div class="container">

  <h1>Create Players</h1>
  <br /><br />
  <button class="add_field_button">Add player</button><br /><br />
  <%= form_tag players_create_path, method: :get, class: "navbar-form navbar-left search-form" do %>
  <div class="input_fields_wrap container">

  </div>
  <%= submit_tag "Save Roster", class: "hidden", id: "save_roster"%>
  <% end %>
</div>
