<%= render partial: "shared/navbar" %>
<div class="container">

<h1>Create Players</h1>
<br /><br />
  <div class="input_fields_wrap">
    '<div class="player-1">
    First Name: <input type="text" name="first_name[]" />
    Last Name: <input type="text" name="last_name[]" />
    Mobile Number: <input type="text" name="mobile_number[]" />
    <a href="#" class="remove_field">Remove</a></div>'
  </div>

</div>
